[user]
	name = h-kamitomo
	email = h.kamitomo@me.com
[core]
	editor = vim
	quotepath = false
	precomposeunicode = true
[merge]
	tool = vimdiff
[color]
	ui = true
[credential]
	helper = osxkeychain
[github]
	user = h-kamitomo
